@charset "UTF-8";

$uid: '3302458'; // 你的uid

$page-background: "https://i.imgur.com/IQ7hPYQ.jpg";
$cmp-plruk-img: "https://i.imgur.com/rgVAlV7.png";
$text-size: 12px;
$link-color: #6696C4;
$user-color: #675E4C;
$highlight-owner: lighten(#9EC0DA, 21%); // 調亮21%
$highlight-uid: lighten(#CE8C8D, 24%); // 調亮21%

// ==================================================

%username {
	/* 使用者名稱 */
	color: $user-color;
	font-size: $text-size;
	font-weight: bold;
}

%qualifier {
	.qualifier, .m_qualifier, .r_qualifier {
		/* 噗浪類型標籤 */
	}
	.qual_embedded {
		/* 轉撲內文標籤 */
	}
}

%plurk_input_qualifier { // .qual_holder
	@extend %qualifier;
	.dd_img {
		/* 發噗類型選擇 */
	}
}

%plurk_form { // .plurkForm
	/* 發噗回噗表單 */
	.drop_indicator {
		/* 拖放圖片到此上傳 */
	}
	.submit_img {
		/* 發噗按鈕 */
		@extend %plurk_command;
	}
	.input_holder {
		.qual_holder {
			/* 發噗動詞選擇按鈕 */
			@extend %plurk_input_qualifier;
		}
		.textarea_holder {
			textarea.content {
				/* 發噗輸入框 */
				@extend %plurk_input;
			}
		}
		.share_holder {
			.share_list {
				/* 分享圖片列表 */
				ul {
					li {
						/* 各分享圖片 */
						&.add_photo {
							/* 增加圖片按鈕「+」 */
						}
						img.ico {
							/* 圖片右上角icon */
						}
					}
				}
			}
		}
	}
	.char_updater {
		/* 字太多囉 */
		a {
			color: $link-color;
			text-decoration: none;
		}
	}
}

%plurk_input { // textarea
	/* Plurk 輸入框 */
}

%plurk_command {
	/* 「Plurk」按鈕 */
	color: transparent;
	user-select: none;
	-webkit-mask-box-image: url($cmp-plruk-img);
}

%plurk_content { // .plurk_cnt
	/* 河道噗文、回噗 共用樣式 */
	transition: none;
	.td_qual {
		@extend %qualifier;
		a.name {
			@extend %username;
		}
	}
	.td_cnt {
		.text_holder {
			@extend %plurk_text_holder;
		}
	}
}

%plurk_text_holder {
	/* 噗浪內文字型 */
	font-size: $text-size;
	// 修正斷行
	word-wrap: break-word;
	word-break: break-all;
	a {
		&.ex_link {
			/* 外部連結 */
			color: $link-color;
		}
		&.meta {
			/* 含圖片文字說明連結 */
			border-radius: 4px;
		}
		&.plink {
			/* 噗浪內部連結 */
		}
		&.pictureservices {
			img {
				/* 圖片 */
				padding: 0 2px;
			}
		}
		&.ogvideo {
			/* 影片 */
			// no 'ex_link' class
			color: $link-color;
		}
		&.hashtag {
			/* Hashtag */
			color: $link-color;
			&:hover {
				background-color: $link-color;
				color: #FFF;
				text-decoration: none;
				margin: 0;
			}
		}
	}
}

%friend_holder {
	/* 朋友列表 */
	ul {
		li {
			a.user_link {
				img {
					/* 大頭貼 */
				}
			}
		}
	}
}

%hidden {
	/* 隱藏物件 */
	// display: none !important;
	position: fixed !important;
	left: -9999px !important;
}

// ==================================================

html { // #layout_content_html
	background: url($page-background);
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	font-size: $text-size;
	font-family: sans-serif;

	// ==================================================
	/* 河道 */
	#timeline_holder {
		#div_loading {
			.cnt {
				img {
					/* 河道loading圖 */
				}
			}
		}
		#timeline_cnt {
			#empty_timeline_bg {
				/* 「沒有任何未讀訊息了」、「此時間軸目前設為私密狀態。」背景字 */
			}
			#empty_timeline_fg {
				/* 「沒有任何未讀訊息了」、「此時間軸目前設為私密狀態。」前景字 */
				a {
					color: $link-color;
				}
			}

			.block_cnt {
				&.day_start {
				}
				&.hh_mm {
				}

				.div_one_line {
				}
				.div_inner {
				}
				.div_bottom {
				}

				.plurk {
					// ==> begin 取消display
					&.display, &.toggled {
						z-index: 1000;
						&, table {
							width: auto;
						}
						.text_holder {
							width: 180px;
							min-height: 1.3em;
							// 噗浪程式依照河道高度計算 (TimeLine.resize)
							$timeline_holder_height: 762px;
							$text_holder_max_height: $timeline_holder_height * 0.0829;
							max-height: $text_holder_max_height !important;
							min-width: inherit;
						}
					}
					&.link_extend, &:hover, &.plurk_box {
						width: 380px;
						z-index: 1200;
						table {
							width: 100%;
						}
						.text_holder {
							width: 100%;
							height: auto !important;
							min-height: 2em;
							max-height: none !important;
							white-space: normal;
							min-width: 180px;
						}
					}
					&.plurk_box {
						width: 503px;
						z-index: 1450;
						.text_holder {
							width: 100% !important;
						}
					}
					// <== end 取消display

					&.muted {
						/* 消音噗半透明 */
						opacity: 0.5;
					}
					&.link_extend.muted, &.muted:hover {
						/* 滑鼠移過消音噗微亮 */
						opacity: 0.8;
					}
					&.plurk_box.muted {
						/* 展開消音噗全亮 */
						opacity: 1;
					}

					&[data-uid='#{$uid}'] {
						/* 你的噗 */
					}

					&[data-uid='99999'] {
						/* 匿名噗 */
					}

					&.banana_plurk {
						/* 贊助噗 */
						@extend %hidden;
					}

					&.product {
						/* 噗浪商店的商品 */
						&.soldout {
							/* 完售的商品 */
						}
					}

					.td_img {
						.p_img {
							img {
								/* 發噗者頭像 */
							}
						}
					}

					.plurk_cnt {
						@extend %plurk_content;
						opacity: 0.8;
						background: #fff !important;
						border-bottom-right-radius: 5px;
						border-top-right-radius: 5px;
						border-bottom-left-radius: 5px;
						border: none;
						min-height: 30px;

						.td_cnt {
							.text_holder {
								min-width: 120px;
							}
							.manager {
								/* 河道噗控制項 */
								.mute-on {
									/* 消音 */
								}
								.mute-off {
									/* 未消音 */
								}
								.promote {
									/* 推文 */
								}
								.replurk-on {
									/* 已轉噗 */
								}
								.replurk-off {
									/* 未轉噗 */
								}
								.like-on {
									/* 已喜歡 */
								}
								.like-off {
									/* 未喜歡 */
								}
								.gift {
									/* 鼓勵這則噗 */
									@extend %hidden;
								}
							}
						}
						.tr_info {
							.td_info {
								border-bottom-right-radius: 5px;
							}
						}
					}

					.td_response_count {
						a {
							.response_count {
								/* 回噗數 */
								opacity: 0.8;
								border-radius: 5px;
								font-size: ($text-size - 1);
								padding: 6px 5px 8px;
								line-height: 25px;
							}
						}
					}

					.plurk_cnt, .p_img img, .response_count {
						box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
					}

					&.link_extend, &:hover {
						/* 滑鼠移過後上層顯示 */
						z-index: 1451;
						.plurk_cnt {
							background: rgba(255,255,255,0.8) !important;
						}
					}
					&.plurk_box {
						/* 展開留言上層顯示 */
						.plurk_cnt {
							background: rgba(255,255,255,1) !important;
							opacity: 1;
							&, .td_info {
								// 顯示回噗後關閉右下圓角
								border-bottom-right-radius: 0;
								border-bottom-left-radius: 0;
							}
						}
					}
				}
			}
		}

		#timeline_bg {
			#bottom_line {
				/* 河道底部白線 */
			}
			.block_bg {
				&.day_start {
					.day_bg {
					}
				}
				&.hh_mm {
				}

				.div_one_line {
				}
				.div_inner {
				}
				.div_bottom {
					.bottom_start {
						/* 噗文時間 */
						font-size: ($text-size - 2);
						@at-root #time_show {
							/* 詳細時間顯示 */
							font-size: ($text-size - 2);
							&.evening, &.night, &.day, &.morning {
								/* 各時間樣式 */
							}
						}
					}
				}
			}
		}

		#dynamic_logo {
			img.creature {
				/* 噗浪獸 */
			}
		}
	}

	.browse_button {
		.cmp_arrow_left {
			/* 河道向左捲動 */
		}
		.cmp_arrow_right {
			/* 河道向右捲動 */
		}
		.cmp_back_to_today {
			/* 河道回到最前面 */
		}
	}

	// ==================================================
	/* 回噗區塊 */
	#form_holder.plurk_box {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		margin-top: -1px;

		.response_box {
			border: 0;
			border-top: 1px solid #EBEBEB;
			border-image: -webkit-gradient(linear, 0 0, 100% 1%, color-stop(0, rgba(0,0,0,0)), color-stop(0.5, rgba(0,0,0,0.1)), color-stop(1, rgba(0,0,0,0))) 1;
			// border-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));

			.favorite_count {
				/* 喜歡數量 */
			}
			.replurk_count {
				/* 轉噗數量 */
			}
			.list {
				/* 回噗列表 */
				// 週末長知識: scrollable 的捲動重繪問題 http://pymaster.logdown.com/post/344574
				will-change: transform;
				.loading {
					img {
						/* 回噗的loading圖 */
					}
				}
				.plurk {
					.plurk_cnt {
						@extend %plurk_content;
						border-radius: 5px;
					}
					&.highlight_owner .plurk_cnt {
						/* 噗主回應 */
						background: $highlight-owner !important;
					}
					&[data-uid='#{$uid}'] .plurk_cnt {
						/* 自己回應 */
						background: $highlight-uid !important;
					}
					&:hover .plurk_cnt {
						background-color: #EEE !important;
					}
				}
			}
		}
		.new_response_hint {
			/* 有新回應 */
		}
		.mini_form {
			border: 0;
			border-top: 1px solid #EBEBEB;
			border-image: -webkit-gradient(linear, 0 0, 100% 1%, color-stop(0, rgba(0,0,0,0)), color-stop(0.5, rgba(0,0,0,0.1)), color-stop(1, rgba(0,0,0,0))) 1;

			.plurkForm {
				@extend %plurk_form;

				.icons_holder {
					.cmp_emoticon_mini_on {}
					.cmp_emoticon_mini_off {}
					.cmp_media_mini_on {}
					.cmp_media_mini_off {}
				}
			}
		}
		.info_box {
			/* 「回應功能已關閉」、「僅限朋友回應」等訊息 */
			&.controller {
				/* 回噗下方控制連結 */
				.perma_link {
					a {
						/* 訊息網址 */
					}
				}
				.report_link {
					a {
						/* 回報濫用 */
					}
				}
				.limited_box {
					/* 私人訊息給 */
					a.name {
						@extend %username;
					}
				}
			}
		}
		#resp_banner_ads {
			@extend %hidden;
		}
	}

	/* 回噗時間 */
	.response_time {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
		.holder {
			p {
				/* 時間 */
			}
			.reply_to, .resp_icon, .del_icon {
				/* 「回覆、刪除」連結 */
			}
		}
	}

	$time_show_height: 18px;

	$timeline_control_height: 25px;
	$timeline_control_margin_top_old: -46px;
	$timeline_control_margin_top: ($timeline_control_margin_top_old + $timeline_control_height) * -1;

	// ==================================================
	/* 河道控制項 */
	.timeline_control {
		// 控制項移至河道底部
		margin-top: $timeline_control_margin_top;
		// 改為舊版樣式
		margin-left: 0;

		#timeline_control_holder {
			// 改為舊版樣式
			width: 100%;

			#filter_tab {
				li {
					// 改為舊版樣式
					clear: none;
					width: auto;
					margin-right: 5px;

					a {
						// 改為舊版樣式
						height: 25px !important;
						margin: 0 !important;

						&.filter_selected {
							/* 已選擇 */
						}
						&.off_tab {
							/* 未選擇 */
						}
						&#all_plurks, &#own_plurks_tab_btn, &#private_plurks_tab_btn, &#responded_plurks_tab_btn, &#favorite_plurks_tab_btn {
							/* 各河道選項 */
						}

						.unread_generic {
							/* 未讀計數 */
						}
						#count_all_plurk, #count_my_plurks, #count_private_plurks, #count_responded_plurks, #count_favorite_plurks {
							/* 各河道未讀計數 */
						}
					}
				}
			}

			#updater {
				font-size: ($text-size - 1);
				// 改為舊版樣式
				left: 5px;

				#noti_np.item {
					#noti_np_text {
						/* 新訊息 */
					}
					#noti_np_count.unread_generic {
						/* 新訊息數量 */
					}
				}
				#noti_re.item {
					#noti_re_view.item {
						#noti_re_text {
							/* 檢視未讀訊息 */
						}
						#noti_re_count.unread_generic {
							/* 未讀訊息數量 */
						}
					}
					#noti_re_actions.item {
						.updater_link {
							/* 顯示所有訊息 */
							&#mark_all_link {
								/* 全部標為已讀 */
								@extend %hidden;
							}
						}
					}
				}
				#unread_loader {
					/* 河道初始化時的「Loading unread...」 */
					color: $link-color;
					background: #FFF;
					white-space: nowrap;
					height: 25px;
					line-height: 25px;
					border-radius: 5px;
					padding: 0 8px;
					text-align: center;
				}

				@at-root #music_player {
					/* 音樂撥放器 */
					font-size: ($text-size - 1);

					span {
						/* 影片名稱 */
					}
					.ctrl_stop {
						/* 關閉 */
					}
					.ctrl_show {
						/* 顯示影片 */
					}
				}
			}
		}
	}

	$timeline_control_top_space: $timeline_control_margin_top - $time_show_height / 2;
	$dashboard_segment_content_margin_top: 10px;
	$dashboard_margin_top: $timeline_control_margin_top + $timeline_control_height + $timeline_control_top_space - $dashboard_segment_content_margin_top;

	// ==================================================
	/* 儀錶板 */
	#dashboard_holder {
		margin-top: $dashboard_margin_top;
		padding-top: 0;

		#plurk-dashboard {
			&.own {
				/* 只有自己會套用的樣式 */
			}
			&.narrow {
				/* 瀏覽器寬度縮小時 */
			}

			.dash-group-form {
				.dash-segment.dash-segment-post {
					.segment-content {
						#plurk_form {
							form#pane_plurk.plurkaction.pane {
								#main_poster {
									.plurkForm {
										@extend %plurk_form;

										.icons_holder {
											.cmp_emoticon_on {}
											.cmp_emoticon_off {}
											.cmp_media_on {}
											.cmp_media_off {}
											.cmp_sync_on {}
											.cmp_sync_off {}
											.cmp_privacy_on {}
											.cmp_privacy_off {}
										}
										#plurk_to.private_to {
											/* 私人訊息給 */
											b {
												/* 對象 */
											}
										}
									}
								}
							}
						}

						#dash-store {
							/* 噗打合作社 */
							#store-functions {
								#store-link-solda a {
									/* 「我要開店」 */
								}
							}
							#store-hint {
								.store-hint-logo img {}
								.store-hint {}
							}
						}
					}
				}
			}

			.dash-group-left {
				.dash-segment.dash-segment-profile {
					.segment-content {
						#dash-profile {
							/* 個人資訊 */
							a {
								img#profile_pic.profile-pic {
									/* 大頭貼 */
								}
							}
							#full_name {
								@extend %username;
								.display_name {
									/* 顯示名稱 */
								}
								.nick_name {
									/* 帳號名稱 */
								}
							}
							.profile-info {
								#span_years {
									/* 年齡 */
								}
								#m_or_f {
									/* 性別 */
								}
								#location {
									/* 居住地 */
								}
							}
						}

						#dash-additional-info {
							#about_me {
								/* 關於您自己 */
								@extend %plurk_text_holder;
							}
						}
					}
				}
			}

			.dash-group-right {
				.dash-segment.dash-segment-stats {
					.segment-content {
						#dash-stats {
							h2 {
								/* 統計 */
							}
							.dash-stats-karma {
								.karma_hover {
									#karma_holder {
										/* Karma: */
										#karma_div {
											#karma.karma_top {
												/* Karma值 */
											}
										}
									}
									#karma_arrow {
										/* Karma上升下降箭頭 */
									}
								}
								.help {
									a {
										/* 假期模式? */
									}
								}
								a.link_arrow {
									/* 什麼是 Karma？ */
								}
							}
							table#dash-stats-table {
								th {
									/* 統計表格標題字 */
								}
								td {
									/* 統計資料 */
									&#profile_views {
										/* 人氣指數 */
									}
									&#plurks_count {
										/* 發噗數 */
									}
									&#response_count {
										/* 回應數 */
									}
									&#join_date {
										/* 註冊日期 */
									}
									&#last_visit {
										/* 上次登入 */
									}
								}
							}
						}
					}
				}
				.dash-segment.dash-segment-friends {
					.segment-content {
						#dash-friends {
							h2 {
								/* 朋友 */
							}
							#dash-friends-pics {
								.show_all_friends {
									a {
										/* 所有朋友 */
									}
								}
								.show_mutual_friends {}
								#friend_holder.friend_holder {
									/* 朋友列表 */
									@extend %friend_holder;
								}
							}
						}
						#dash-friends-store {
							h2 {
								/* 噗友的商店 */
							}
							#friend-store-holder.friend_holder {
								@extend %friend_holder;
							}
						}
					}
				}
				.dash-segment.friendsList.dash-segment-fans {
					.segment-content {
						#dash-fans {
							h2#h2_fans {
								/* 粉絲 */
							}
							#dash-fans-pics {
								.show_all_friends {
									a {
										/* 所有粉絲 */
									}
								}
								#fan_holder.friend_holder {
									/* 粉絲列表 */
									@extend %friend_holder;
								}
							}
						}
					}
				}
				.dash-segment.dash-segment-award {
					.segment-content {
						#dash-award {
							.award_bar {
								/* 徽章列表 */
								img {
									/* 徽章 */
								}
							}
							a.link_arrow {
								/* 如何獲得徽章？ */
							}
						}
					}
				}
			}
		}
	}

	// ==================================================
	/* 頁尾 */
	footer {
		#footer {
			ul {
				li {
					&.copyright {
						/* copyright */
					}
				}
			}
		}
	}
}
